.dropdown-menu a:hover{
  background-color: #EDD4BA;
}
.dropdown-menu{
background-image: linear-gradient(#FDC7AA,  #B3E8FF );
}
.static-top{
   background-image: linear-gradient(to right,#E86875 ,#A091BF );
}
.sidebar{
  background-image: linear-gradient(#FDC7AA,  #B3E8FF );
}
body {
  background-image: linear-gradient(to right,#51DBFF ,#F9A8FF );
}
.sidebar span{
  color: black;
}
